Makefile
Makefile.in
bin/
aclocal.m4
autom4te.cache
build-aux
config.log
configure
m4
config.status
neoteric-guile
readable/
sweet-guile
sweeten
unsweeten
sweet-run
curly-guile
sweet-scsh
diff-s-sweet
